<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>展厅1</key>
	<dict>
		<key>name</key>
		<string>生活厅</string>
		<key>icon</key>
		<string>_【展厅1】.png</string>
		<key>count</key>
		<integer>12</integer>
		<key>展项1</key>
		<dict>
			<key>icon</key>
			<string>记忆-技艺.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.170</string>
			</array>
			<key>proj</key>
			<array>
				<string>192.168.0.160</string>
				<string>192.168.0.161</string>
				<string>192.168.0.162</string>
				<string>192.168.0.163</string>
			</array>
		</dict>
		<key>展项2</key>
		<dict>
			<key>icon</key>
			<string>檐下之翼.png</string>
			<key>comp</key>
			<array/>
			<key>proj</key>
			<array>
				<string>192.168.0.167</string>
			</array>
		</dict>
		<key>展项4</key>
		<dict>
			<key>icon</key>
			<string>藻井.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.171;0</string>
			</array>
			<key>proj</key>
			<array/>
		</dict>
		<key>展项5</key>
		<dict>
			<key>icon</key>
			<string>戏文木雕.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.181;0</string>
			</array>
			<key>proj</key>
			<array>
				<string>192.168.0.164</string>
			</array>
		</dict>
		<key>展项6</key>
		<dict>
			<key>icon</key>
			<string>雕花楼欣赏.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.172;0</string>
			</array>
			<key>proj</key>
			<array>
				<string>192.168.0.165</string>
				<string>192.168.0.166</string>
			</array>
		</dict>
		<key>展项7</key>
		<dict>
			<key>icon</key>
			<string>走进卢宅.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.185;0</string>
				<string>192.168.0.173</string>
			</array>
			<key>proj</key>
			<array>
				<string>192.168.0.190</string>
			</array>
		</dict>
		<key>展项8</key>
		<dict>
			<key>icon</key>
			<string>神佛万相.png</string>
			<key>proj</key>
			<array/>
			<key>comp</key>
			<array>
				<string>192.168.0.180;0</string>
			</array>
		</dict>
		<key>展项9</key>
		<dict>
			<key>icon</key>
			<string>雕花门.png</string>
			<key>proj</key>
			<array/>
			<key>comp</key>
			<array>
				<string>192.168.0.183;0</string>
			</array>
		</dict>
		<key>展项10</key>
		<dict>
			<key>icon</key>
			<string>十里红妆.png</string>
			<key>proj</key>
			<array>
				<string>192.168.0.168</string>
			</array>
			<key>comp</key>
			<array/>
		</dict>
		<key>展项11</key>
		<dict>
			<key>icon</key>
			<string>雕花窗.png</string>
			<key>proj</key>
			<array/>
			<key>comp</key>
			<array>
				<string>192.168.0.182;0</string>
			</array>
		</dict>
		<key>展项12</key>
		<dict>
			<key>icon</key>
			<string>互动区.png</string>
			<key>proj</key>
			<array/>
			<key>comp</key>
			<array>
				<string>192.168.0.184;0</string>
				<string>192.168.0.187;0</string>
				<string>192.168.0.188;0</string>
			</array>
		</dict>
		<key>展项3</key>
		<dict>
			<key>icon</key>
			<string>宫宇楼阙.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.186;0</string>
			</array>
			<key>proj</key>
			<array/>
		</dict>
	</dict>
	<key>展厅2</key>
	<dict>
		<key>name</key>
		<string>历史厅</string>
		<key>icon</key>
		<string>_【展厅2】.png</string>
		<key>count</key>
		<integer>9</integer>
		<key>展项1</key>
		<dict>
			<key>icon</key>
			<string>森林木雕匠.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.171;0</string>
			</array>
			<key>proj</key>
			<array>
				<string>192.168.0.160</string>
				<string>192.168.0.161</string>
			</array>
		</dict>
		<key>展项2</key>
		<dict>
			<key>icon</key>
			<string>国有百工.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.173;0</string>
			</array>
			<key>proj</key>
			<array/>
		</dict>
		<key>展项3</key>
		<dict>
			<key>icon</key>
			<string>祖师鲁班.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.172</string>
				<string>192.168.0.181;0</string>
			</array>
			<key>proj</key>
			<array/>
		</dict>
		<key>展项4</key>
		<dict>
			<key>icon</key>
			<string>传神木俑.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.182;0</string>
			</array>
			<key>proj</key>
			<array/>
		</dict>
		<key>展项5</key>
		<dict>
			<key>icon</key>
			<string>傩魂神韵.png</string>
			<key>comp</key>
			<array/>
			<key>proj</key>
			<array>
				<string>192.168.0.162</string>
			</array>
		</dict>
		<key>展项6</key>
		<dict>
			<key>icon</key>
			<string>营造法式.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.183;0</string>
			</array>
			<key>proj</key>
			<array/>
		</dict>
		<key>展项7</key>
		<dict>
			<key>icon</key>
			<string>皇家御匠.png</string>
			<key>proj</key>
			<array/>
			<key>comp</key>
			<array>
				<string>192.168.0.201</string>
			</array>
		</dict>
		<key>展项8</key>
		<dict>
			<key>icon</key>
			<string>明清木雕.png</string>
			<key>proj</key>
			<array/>
			<key>comp</key>
			<array>
				<string>192.168.0.180;0</string>
			</array>
		</dict>
		<key>展项9</key>
		<dict>
			<key>icon</key>
			<string>刀木春秋.png</string>
			<key>proj</key>
			<array>
				<string>192.168.0.163</string>
			</array>
			<key>comp</key>
			<array/>
		</dict>
	</dict>
	<key>展厅3</key>
	<dict>
		<key>name</key>
		<string>世界厅</string>
		<key>icon</key>
		<string>_【展厅3】.png</string>
		<key>count</key>
		<integer>14</integer>
		<key>展项1</key>
		<dict>
			<key>icon</key>
			<string>非洲木雕.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.182;0</string>
			</array>
			<key>proj</key>
			<array/>
		</dict>
		<key>展项2</key>
		<dict>
			<key>icon</key>
			<string>非洲印象.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.170</string>
			</array>
			<key>proj</key>
			<array>
				<string>192.168.0.160</string>
				<string>192.168.0.161</string>
				<string>192.168.0.162</string>
			</array>
		</dict>
		<key>展项4</key>
		<dict>
			<key>icon</key>
			<string>欧洲木雕.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.181;0</string>
			</array>
			<key>proj</key>
			<array/>
		</dict>
		<key>展项3</key>
		<dict>
			<key>icon</key>
			<string>美洲木雕.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.183;0</string>
			</array>
			<key>proj</key>
			<array/>
		</dict>
		<key>展项5</key>
		<dict>
			<key>icon</key>
			<string>欧洲印象.png</string>
			<key>comp</key>
			<array/>
			<key>proj</key>
			<array>
				<string>192.168.0.166</string>
			</array>
		</dict>
		<key>展项6</key>
		<dict>
			<key>icon</key>
			<string>亚洲木雕.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.180</string>
			</array>
			<key>proj</key>
			<array/>
		</dict>
		<key>展项7</key>
		<dict>
			<key>icon</key>
			<string>亚洲印象.png</string>
			<key>comp</key>
			<array/>
			<key>proj</key>
			<array>
				<string>192.168.0.168</string>
				<string>192.168.0.169</string>
			</array>
		</dict>
		<key>展项8</key>
		<dict>
			<key>icon</key>
			<string>泰国真理寺.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.173</string>
			</array>
			<key>proj</key>
			<array/>
		</dict>
		<key>展项9</key>
		<dict>
			<key>icon</key>
			<string>大洋洲木雕.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.184;0</string>
			</array>
			<key>proj</key>
			<array/>
		</dict>
		<key>展项10</key>
		<dict>
			<key>icon</key>
			<string>大洋洲印象.png</string>
			<key>comp</key>
			<array/>
			<key>proj</key>
			<array>
				<string>192.168.0.165</string>
			</array>
		</dict>
		<key>展项11</key>
		<dict>
			<key>icon</key>
			<string>木屑互动.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.172;0</string>
			</array>
			<key>proj</key>
			<array>
				<string>192.168.0.167</string>
			</array>
		</dict>
		<key>展项12</key>
		<dict>
			<key>icon</key>
			<string>五大洲木雕.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.171;0</string>
			</array>
			<key>proj</key>
			<array>
				<string>192.168.0.163</string>
			</array>
		</dict>
		<key>展项13</key>
		<dict>
			<key>icon</key>
			<string>世界木雕乐器.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.186;0</string>
			</array>
			<key>proj</key>
			<array/>
		</dict>
		<key>展项14</key>
		<dict>
			<key>icon</key>
			<string>创意图腾柱.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.185;0</string>
			</array>
			<key>proj</key>
			<array/>
		</dict>
	</dict>
	<key>展厅4</key>
	<dict>
		<key>name</key>
		<string>大师厅</string>
		<key>icon</key>
		<string>_【展厅4】.png</string>
		<key>count</key>
		<integer>7</integer>
		<key>展项1</key>
		<dict>
			<key>icon</key>
			<string>木料鉴赏.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.181;0</string>
			</array>
			<key>proj</key>
			<array/>
		</dict>
		<key>展项2</key>
		<dict>
			<key>icon</key>
			<string>技艺传承.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.183;0</string>
			</array>
			<key>proj</key>
			<array/>
		</dict>
		<key>展项3</key>
		<dict>
			<key>icon</key>
			<string>大师风采.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.170</string>
			</array>
			<key>proj</key>
			<array>
				<string>192.168.0.161</string>
				<string>192.168.0.162</string>
			</array>
		</dict>
		<key>展项4</key>
		<dict>
			<key>icon</key>
			<string>作品欣赏.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.182;0</string>
			</array>
			<key>proj</key>
			<array/>
		</dict>
		<key>展项5</key>
		<dict>
			<key>icon</key>
			<string>台湾大师.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.180;0</string>
			</array>
			<key>proj</key>
			<array/>
		</dict>
		<key>展项6</key>
		<dict>
			<key>icon</key>
			<string>大师寄语.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.171;0</string>
			</array>
			<key>proj</key>
			<array/>
		</dict>
		<key>展项7</key>
		<dict>
			<key>icon</key>
			<string>薪火相传.png</string>
			<key>proj</key>
			<array>
				<string>192.168.0.160</string>
			</array>
			<key>comp</key>
			<array/>
		</dict>
	</dict>
	<key>展厅5</key>
	<dict>
		<key>name</key>
		<string>竹艺厅</string>
		<key>icon</key>
		<string>_【展厅5】.png</string>
		<key>count</key>
		<integer>5</integer>
		<key>展项1</key>
		<dict>
			<key>icon</key>
			<string>竹艺简史.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.180;0</string>
			</array>
			<key>proj</key>
			<array>
				<string>192.168.0.170</string>
				<string>192.168.0.171</string>
				<string>192.168.0.172</string>
			</array>
		</dict>
		<key>展项2</key>
		<dict>
			<key>icon</key>
			<string>竹百科知识.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.181;0</string>
			</array>
			<key>proj</key>
			<array/>
		</dict>
		<key>展项3</key>
		<dict>
			<key>icon</key>
			<string>九龙壁.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.182;0</string>
			</array>
			<key>proj</key>
			<array/>
		</dict>
		<key>展项5</key>
		<dict>
			<key>icon</key>
			<string>竹刻大师.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.184;0</string>
			</array>
			<key>proj</key>
			<array/>
		</dict>
		<key>展项4</key>
		<dict>
			<key>icon</key>
			<string>竹编技法.png</string>
			<key>comp</key>
			<array>
				<string>192.168.0.183;0</string>
			</array>
			<key>proj</key>
			<array/>
		</dict>
	</dict>
	<key>currentType</key>
	<integer>5</integer>
</dict>
</plist>
